# Get automation-tools from master
git+https://github.com/SatelliteQE/automation-tools@master#egg=automation-tools

# Get nailgun from master
git+https://github.com/SatelliteQE/nailgun.git@6.15.z#egg=nailgun

--editable .
